version: "3"
services:
  app-{{user}}:
    build: ./app
    container_name: app-{{user}}
    links:
      - db-{{user}}
    environment:
      - DB.HOST=db-{{user}}
    networks:
      - 'siw-ebvi'
      - 'default'

  db-{{user}}:
    image: mysql:8
    container_name: db-{{user}}
    command: --default-authentication-plugin=caching_sha2_password
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro

networks:
  siw-ebvi:
    external: true
