version: "3"
services:
  app-{{user}}:
    build: ./app
    container_name: app-{{user}}
    links:
      - db-{{user}}
    environment:
      - DB.HOST=db-{{user}}
    networks:
      - 'frontend'
      - 'backend'

  db-{{user}}:
    image: mysql:8
    container_name: db-{{user}}
    command: --default-authentication-plugin=caching_sha2_password
    environment:
      MYSQL_ROOT_PASSWORD: root
    networks:
      - 'backend'
    volumes:
      - ./db:/docker-entrypoint-initdb.d/:ro

networks:
  frontend:
    external: true
  backend:
    external: true
